.broth,
.protein {
  .active-image {
    display: none;
  }

  &.active .inactive-image {
    display: none;
  }

  &.active .active-image {
    display: block;
  }
}

.slide__container {
  background: var(--offwhite);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(224, 219, 191, 0.6);
  height: 316px;
  list-style: none;
  margin-right: 1em;
  overflow: hidden;
  width: 288px;

  .broth,
  .protein {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: var(--default-font);

    &.active {
      background: var(--blue);

      h4,
      h5 {
        color: var(--white);
      }

      h6 {
        color: var(--yellow);
      }
    }

    img {
      height: 104px;
      margin-bottom: 14px;
      object-fit: cover;
      width: 104px;
    }

    h4,
    h5,
    h6 {
      text-align: center;
    }

    h4 {
      color: var(--blue);
      font-family: inherit;
      font-size: 2em;
      font-weight: 900;
      margin-bottom: 10px;
    }

    h5 {
      color: var(--black);
      font-family: inherit;
      font-size: 1.4em;
      font-weight: 500;
      margin-bottom: 36px;
    }

    h6 {
      color: var(--red);
      font-family: inherit;
      font-size: 2em;
      font-weight: 900;
    }
  }
}
