.container {
  .container__top-section {
    background: url("mobile-background-top.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 677px;
    justify-content: flex-start;
    margin-bottom: 4em;
    padding: 20px 30px 66px;

    @media (min-width: 768px) {
      background: url("background-top.png") no-repeat;
      background-size: cover;
      height: 768px;
      padding: 40px 40px 47px;
    }

    .header {
      margin: 0 auto 24px;

      @media (min-width: 768px) {
        margin: 0 auto 0 auto;
        max-width: 1280px;
        position: relative;
        width: 100%;
      }

      .logo {
        @media (min-width: 768px) {
          position: absolute;
        }
      }
    }

    .hero {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: var(--default-font);
      gap: 12px;
      text-align: center;

      @media (min-width: 768px) {
        flex-direction: row-reverse;
        justify-content: center;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        align-items: center;
        margin: auto 0 auto;
      }

      .hero__image-container {
        width: 265px;

        @media (min-width: 768px) {
          max-width: 666px;
          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      .hero__texts-container {
        @media (min-width: 768px) {
          margin-bottom: -6em;
          margin-right: -21em;
          width: 354px;
          z-index: 1;
        }

        h1 {
          color: var(--yellow);
          font-family: inherit;
          font-size: 4.8em;
          font-weight: 900;

          @media (min-width: 768px) {
            text-orientation: mixed;
            writing-mode: vertical-lr;
            margin: 0 0 32px -6px;
          }

          span {
            color: var(--offwhite);
            font-size: 2.5em;

            @media (min-width: 768px) {
              align-items: flex-end;
              display: flex;
              font-size: 16rem;
              height: 100%;
              padding: 38px 0 0 4px;
              text-orientation: mixed;
              writing-mode: horizontal-tb;
            }
          }
        }

        p {
          color: var(--offwhite);
          font-family: inherit;
          font-size: 1.6em;
          font-weight: 500;
          line-height: 1.25em;

          @media (min-width: 768px) {
            font-size: 1.6rem;
            line-height: 1.5em;
            margin-bottom: 2.4rem;
            max-width: 201px;
            text-align: left;
          }
        }

        .button {
          display: none;

          @media (min-width: 768px) {
            display: flex;
            margin-left: 0;
          }
        }
      }
    }
  }
}
